# Environment files
*.env

# Bytecode
*.pyc
# Cache
__pycache__/
# Static files (if managed by collectstatic)
/static/

# Database files
db.sqlite3
db.sqlite3-journal

# IDE/Editor specific files
*.idea/
.vscode/

# Local development configuration
local_settings.py

# Logs
*.log

# Media files (if not using a CDN)
/media/
/data/

# Test coverage
.coverage

# Pip freeze or virtualenv requirements
# requirements.txt
Pipfile.lock (if using Pipenv)
# Poetry configuration (if using Poetry)
pyproject.toml
complete-verve-420306-firebase-adminsdk-px8jn-d8c65cdb28.json